@model AppLifeServerMvc.Models.ViewModels.ApplicationViewModel

<div id="AccessListTable" style="padding-bottom:5px;">
    <div id="AccessListTable" style="padding-bottom:5px;">
        @Html.EditorFor(model => Model.AccessLists)
    </div>
</div>
