@model List<AppLifeServerMvc.Models.AccessEntry>

<div>
    <input id="txtNewKey" type="text" class="text medium" name="txtNewKey" style="width:85%;"/>
    <input type="button" class="submit" onclick="addToAccessList()" value="Add" /> 
</div>
<div id="pnlACLEntries" class="scroll" style="height: 400px; border: 1px solid lightgray; margin-top:5px;">
    <table id="tblACLEntries" name="tblACLEntries">
        <tbody>
            @foreach(var item in Model) { 
                <tr id="row-@item.Id">
                    <td>
                        <input type="checkbox" id="AccessItemId-@item.Id" hidden="hidden" />
                    </td>
                    <td>@item.AccessKey</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
<div style="margin-top:10px;">
    <input type="button" class="submit" onclick="showEntryEditPanel()" value="Edit" /><input id="btnRemoveEntries" type="button" class="submit" onclick="removeCheckedEntries()" value="Remove Checked" hidden="hidden" /><img id="imgCloseEntriesEdit" src="~/Content/images/16X16/cancel.png" onclick="closeEntriesEdit()" hidden="hidden" />
</div>
